@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&family=Roboto+Slab:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --main-color: #47cfac;
    --second-color: #e6e9ed;
    --gray-color: #cdd2da;
    font-size: 16px;
}

body {
    font-family: "Roboto Mono", monospace;
    
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline;
    color: black;
}

.home-body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid-container {
    max-width: 980px;
    margin: auto;
}

header {
    width: 100%;
    height: 100px;

    display: grid;
    grid-template-rows: 1fr 1fr;
}

header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background-color: var(--main-color);
}

header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: flex-end;
    margin-right: 50px;
}

header .icons span {
    color: white;
    font-size: 30px;
}

nav {
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 50px;
}

nav .nav-logo-container {
    margin-left: 50px;
}

nav .nav-logo-container img {
    width: 180px;
}

nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: black;
    border-bottom: 1px solid black;
}

.home-main {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    align-items: center;

    background-image: url("../assets/img/Cover.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-main section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    align-items: center;
    /* height: 350px; */
    /* margin-top: 80px; */

    /* border: #47cfac solid; */
}

.home-main-text {
    font-family: "Roboto mono", "monospace";
    font-size: 3rem;
    font-weight: 700px;
    letter-spacing: 10px;
    color: white;
    text-align: center;
}

.home-main-button {
    width: 110px;
    height: 50px;
    background-color: var(--main-color);
    display: grid;
    align-items: center;
}

.home-main-button a {
    font-weight: 700px;
    font-size: 18px;
}

.blogs-main {
    display: grid;
}

.blogs-news-container {
    background-color: var(--second-color);
    padding: 0px 50px 40px;
    
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-news-img-container {
    grid-column: 1;
}

.blogs-news-img-container img {
    object-fit: cover;
    background-position: center;
    width: 85%;
    height: 100%;
}

.blogs-news-info-container {
    grid-column: 2;
}

.blogs-news-info-container h2 {
    margin-top: 0;
}

.blogs-news-info-container p {
    margin-bottom: 35px;
}

.blogs-posts-container {
    /* padding: 0 50px 40px; */
    padding-bottom: 40px;
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 1fr; */
    /* grid-auto-rows: minmax(1fr, 440px); */
}

.blogs-posts-container h3 {
    border-bottom: 1px solid var(--second-color);
    padding-bottom: 30px;
    text-align: center;

    grid-column: 1 / -1;
}

.post-container {
    display: flex;
    flex-direction: column;
}

.post-container img {
    width: 100%;
}

.post-container p.post-item-description {
    margin-bottom: 35px;
    flex-grow: 1;
    /* max-height: 110px;
    overflow-y: scroll; */
}

.blogs-button {
    border: 1px solid var(--main-color);
    padding: 10px 15px;
    font-size: 12px;
    align-self: start;
    /* justify-self: end; */
}

footer {
    width: 100%;
    height: 80px;
    background-color: #22272d;
    border-top: 35px solid var(--main-color);
}

footer p {
    color: var(--second-color);
    margin-top: 30px;
    text-align: center;
}

.blogpost-img-container {
    padding: 0 50px 40px;
}

.blogpost-img-container img {
    width: 100%;
}

.blogpost-main-container {
    padding: 0 50px 40px;
}

.blogpost-main-container h3 {
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 20px;
}

.blogpost-main-container article h1 {
    font-size: 35px;
}

.contact-main-container {
    width: 100%;
    height: 200px;
    background-color: var(--gray-color);
    display: grid;
    grid-template-columns: repeat(2, 490px);
    justify-content: center;
    align-content: center;
}

.contact-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.contact-item div {
    padding-right: 20px;
}

.contact-item div a {
    font-weight: 500;
    color: black;
    border-bottom: 1px solid black;
}

.contact-item img {
    justify-self: center;
    align-self: center;
    height: 100%;
}

.profile-main-container {
    padding: 70px 40px;
    background-color: var(--second-color);
    margin-bottom: 50px;
}

.profile-main-container img {
    width: 320px;
    margin-right: 30px;
}

.profile-main-container .profile-container {
    display: flex;
}

.profile-main-projects {
    padding: 0 50px 40px;
}

.profile-main-projects h3 {
    border-bottom: 1px solid var(--gray-color);
    padding-bottom: 35px;
    text-align: center;
}

.projects-main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.project-container {
    padding: 0 10px;;
}